body{
    margin: 0;
}
.flexible{
    display: flex;
}
.half-container{
    width: 50%;
    padding: 9% 5%;
}
h1{
    font-size: 60px;
}
.first-photo{
    width:70%;
    padding: 1% 3%;
}
.orange-color{
    color: orange;
}
.link{
     text-decoration: none;
     background-image:linear-gradient(orange, tomato);
     padding: 7px 15px;
     border-radius: 12px;
     color: white;
     font-weight: bold;
}
.second-photo{
    width: 50%;
    padding: 9% 10%;
}
.about-me{
    width: 50%;
    padding: 20% 15%;
}
.recepie{
    text-align: center;
}
.bg-photo{
    background-image: url(image/7.png);
}
.shadow{
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding:20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}
#img-border{
    border: solid white;
    border-radius: 20px;
}
#net{
    color:gray;
}
#footer{
    text-align: center;
    background-color: black;
}
h4{
    color: white;
}
#menu{
    text-align: center;
    background-color: violet;

}
.extra-marks{
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 11%;
    border-radius: 15px;   
    background-color:khaki;
}
